<% layout('layouts/index') -%>
<% block('metaTitle', metaTitle) -%>
<div id="header">
    <a href="/">
        Главная
    </a>
    <a href="/profile">
        Профиль
    </a>
    <a href="/logout">
        Выход
    </a>
</div>
<div id="container">
    <div class="type-offers">
        <% typesOffers.forEach(function(typeOffer){ %>
            <div class="type-offer">
                <div class="type-offer-wrapper" data-id="<%= typeOffer._id %>">
                    <div class="type-offer-image">
                        <img src="images/<%= typeOffer.image %>" />
                    </div>
                    <div class="type-offer-name">
                        <%= typeOffer.name %>
                    </div>
                </div>
            </div>
        <% }); %>
        <div class="clear"></div>
    </div>
    <div class="list-offers">
        <% usersOffers.forEach(function(userOffer){ %>
            <div class="list-offer" data-id="<%= userOffer._id %>" id="list-offer-<%= userOffer._id %>">
                <div class="list-offer-time">
                    <% const date = new Date(userOffer.createdAt) %>
                    <%= date.getDate() + '.' + (date.getMonth() + 1) + '.' + date.getFullYear() + ' ' +  date.getHours() + ':' + date.getMinutes() %>
                </div>
                <div class="list-offer-user-photo">
                    <img src="photos/<%= userOffer.user.photo %>" />
                </div>
                <div class="list-offer-user-name">
                    <%= userOffer.user.name %>
                </div>
                <div class="list-offer-image">
                    <img src="images/<%= userOffer.typeOffer.image %>" />
                </div>
                <div class="list-offer-name">
                    <%= userOffer.typeOffer.name %>
                </div>
                <div class="list-offer-joined-users">
                    <% if(userOffer.joinedUsers){ %>
                        <% userOffer.joinedUsers.forEach(function(joinedUser){ %>
                            <div class="list-offer-joined-user">
                                <div class="list-offer-joined-user-photo">
                                    <img src="photos/<%= joinedUser.user.photo %>" />
                                </div>
                                <div class="list-offer-joined-user-name">
                                    <%= joinedUser.user.name %>
                                </div>
                            </div>
                        <% }); %>
                    <% } %>
                </div>
                <% if(userId == userOffer.user._id){ %>
                    <div class="list-offer-buttons">
                        <span class="list-offer-button-cancel">Отменить</span>
                    </div>
                <% } else { %>
                    <div class="list-offer-buttons">
                        <span class="list-offer-button-yes">Пойду</span>
                        <span class="list-offer-button-no">Не пойду</span>
                    </div>
                <% } %>
            </div>
        <% }); %>
    </div>
</div>